.indigo-slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: none;
}
.indigo-slider input[type=range]:focus {
  outline: none;
}
.indigo-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #4f46e5;
  border-radius: 1px;
  border: 0px solid #000000;
}
.indigo-slider input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #4f46e5;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #4f46e5;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.indigo-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: #4f46e5;
}
.indigo-slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #4f46e5;
  border-radius: 1px;
  border: 0px solid #000000;
}
.indigo-slider input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #4f46e5;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #4f46e5;
  cursor: pointer;
}
.indigo-slider input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.indigo-slider input[type=range]::-ms-fill-lower {
  background: #4f46e5;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.indigo-slider input[type=range]::-ms-fill-upper {
  background: #4f46e5;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.indigo-slider input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #4f46e5;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: #4f46e5;
  cursor: pointer;
}
.indigo-slider input[type=range]:focus::-ms-fill-lower {
  background: #4f46e5;
}
.indigo-slider input[type=range]:focus::-ms-fill-upper {
  background: #4f46e5;
}



.white-slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: none;
}
.white-slider input[type=range]:focus {
  outline: none;
}
.white-slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: white;
  border-radius: 1px;
  border: 0px solid #000000;
}
.white-slider input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid white;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
.white-slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: white;
}
.white-slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: white;
  border-radius: 1px;
  border: 0px solid #000000;
}
.white-slider input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid white;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
}
.white-slider input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.white-slider input[type=range]::-ms-fill-lower {
  background: white;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.white-slider input[type=range]::-ms-fill-upper {
  background: white;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
.white-slider input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid white;
  height: 12px;
  width: 12px;
  border-radius: 25px;
  background: white;
  cursor: pointer;
}
.white-slider input[type=range]:focus::-ms-fill-lower {
  background: white;
}
.white-slider input[type=range]:focus::-ms-fill-upper {
  background: white;
}


.range-slider {
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
  height: 4px;
  background: #ddd;
  border-radius: 4px;
}
.range-slider[data-vertical] {
  height: 100%;
  width: 8px;
}
.range-slider[data-disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}
.range-slider .range-slider__thumb {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #303f9f;
}
.range-slider .range-slider__thumb:focus-visible {
  outline: 0;
}
.range-slider[data-vertical] .range-slider__thumb {
  left: 50%;
}
.range-slider .range-slider__thumb[data-disabled] {
  z-index: 2;
}
.range-slider .range-slider__range {
  position: absolute;
  z-index: 1;
  transform: translate(0, -50%);
  top: 50%;
  width: 100%;
  height: 100%;
  background: #303f9f;
}
.range-slider[data-vertical] .range-slider__range {
  left: 50%;
  transform: translate(-50%, 0);
}
.range-slider input[type="range"] {
  -webkit-appearance: none;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-color: transparent;
}
.range-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}
.range-slider input[type="range"]::-moz-range-thumb {
  width: 0;
  height: 0;
  border: 0;
}
.range-slider input[type="range"]:focus {
  outline: 0;
}
